<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/header}"/>
<main id="user" class="login">
    <form action="#" method="post">
        <table border="0">
            <tr>
                <td><img th:src="@{/img/login_ico_id.png}" alt="로그인"/></td>
                <td><input type="text" name="uid" placeholder="아이디 입력"/></td>
            </tr>
            <tr>
                <td><img th:src="@{/img/login_ico_pw.png}" alt="비밀번호"/></td>
                <td><input type="password" name="pass" placeholder="비밀번호 입력"/></td>
            </tr>
        </table>
        <input type="submit" class="btnLogin" id="btnLogin" value="로그인"/>
        <div class="form-group form-check">
            <label><input type="checkbox" name="rememberMe" id="rememberMe"> 로그인 유지</label>
        </div>
    </form>

    <div class="info">
        <h3>회원 로그인 안내</h3>
        <p>
            아직 회원이 아니시면 회원으로 가입하세요.
        </p>
        <a th:href="@{/user/terms}">회원가입</a>
    </div>

    <section class="SNSlogin">
        <div>SNS 계정으로 간편 로그인</div>
        <a class="loginKaKao" href="https://kauth.kakao.com/oauth/authorize?client_id=204893eb5608d9236bf35e3f7a67405f&redirect_uri=http://localhost:8080/Farmstory/auth/kakao/callback&response_type=code">
            <img th:src="@{/img/kakao_login_medium_wide.png}" alt="카카오로그인">
        </a>
        <a href="/Farmstory/oauth2/authorization/google">구글 로그인</a>
        </a>
    </section>

</main>

<th:block th:replace="~{/footer}"/>
</html>
