<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글 보기</title>    
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
    	$(document).ready(function(){
    		
    		$(document).on('click', '.modify', function(e){
    			e.preventDefault();
    			
    			let txt = $(this).text();
    			p_tag = $(this).parent().prev();
    			
    			if(txt == '수정'){
    				$(this).hide();
    				$(this).next().css('display', 'inline-block');
    				p_tag.attr('contentEditable', true);
    				p_tag.focus();
    			}
			});
    		
    		$(document).on('click', '.modifyComplete', function(e){
    			e.preventDefault();
    			
    			let txt = $(this).text();
    			
    			if(txt == '등록'){
    				$(this).hide();
    				$(this).prev().show();
    				
    				console.log('here1');
    				
    				let no = $(this).attr('data-no');
    				let content = p_tag.text();
    				
    				console.log(no);
    				console.log(content);
    				
    				const jsonData = {
    						'no': no,
    						'content': content
    				};
    				
    				console.log(jsonData);
    				
    				// 여기서 어떻게 컨트롤러에 있는 updateComment으로 넘기지? 
    				// POST http://localhost:8080/updateComment 404
    				// 경로 변경 (Sboard 추가) -> 그냥 console.log("AJAX_ERROR"); 출력
    				$.ajax({
    					url : '/Sboard/updateComment',
    					type: 'POST',
    					data: jsonData,
    					dataType: 'json',
    					success: function(data){
    						console.log(data);
    						if(data.result == 1){
    							alert('수정되었습니다.');
    						}else {
    							alert('error');
    						}
    					}	
    					
    				});
    				
    			}	
    			
    		});
    		
    	});
    </script>
</head>
<body>
    <div id="wrapper">
        <header>
            <h3>Board System v1.0</h3>
            <p>
               <span class="nick">[[${#authentication.principal.user.nick}]]</span>님 반갑습니다.
               <a th:href="@{/user/logout}" class="logout">[로그아웃]</a>
            </p>
        </header>

        <main id="board" class="view">
            <input type="text" name="no" th:value="${article.no}">
            <input type="text" name="pg" th:value="${pg}">
            <input type="text" name="uid" th:value="${#authentication.principal.user.uid}" >
           	<input type="text" name="regip" th:value="${#authentication.details.remoteAddress}" >
            <table>
                <caption>글 보기</caption>
                <tr>
                    <th>제목</th>
                    <td><input type="text" name="title" th:value="${article.title}" readonly/></td>
                </tr>
                <tr th:if="${article.file == 1}">
                    <th>파일</th>
                    <td><a th:href="@{/download(fno=${article.fileVO.fno})}">[[${article.fileVO.oriName}]]</a>(<span>[[${article.fileVO.download}]]</span>회 다운로드)</td>
                </tr>
                <tr>
                    <th>내용</th>
                    <td><textarea name="content" readonly>[[${article.content}]]</textarea></td>
                </tr>
            </table>

            <div th:if="${article.uid == #authentication.principal.user.uid}">
                <a th:href="@{/delete (no=${article.no}, pg=${pg})}" class="btn btnRemove">삭제</a>
                <a th:href="@{/modify (no=${article.no}, pg=${pg})}" class="btn btnModify">수정</a>
                <a th:href="@{/list (pg=${pg})}" class="btn btnList">목록</a>
            </div>
            <div th:unless="${article.uid == #authentication.principal.user.uid}">
                <a th:href="@{/list (pg=${pg})}" class="btn btnList">목록</a>
            </div>

            <!-- 댓글목록 -->
            <section class="commentList">
                <h3>댓글목록</h3>
               	<article th:each="comment : ${comments}">
                	<input type="hidden" name="no" th:value="${comment.no}" >
                    <input type="hidden" name="pg" th:value="${pg}">
                    <input type="hidden" name="uid" th:value="${comment.uid}">   
                    <input type="hidden" name="parent" th:value="${comment.parent}">   
                    
                    <span class="nick">[[${comment.nick}]]</span>
                    <span class="date">[[${comment.rdate}]]</span>                    
                    <p class="content">[[${comment.content}]]</p>
                    
                    <th:block th:if="${#authentication.principal.user.uid eq comment.uid}">
                    	<div>
                    		<a th:href="@{#}" class="modify">수정</a>
                    		<a th:action="@{#}" class="modifyComplete" th:data-no="${comment.no}" th:data-pg="${pg}">등록</a> 
                    		<!-- <a th:href="@{/updateComment(no=${comment.parent}, pg=${pg})}" class="modifyComplete">등록</a>  -->
                    		<a th:href="@{/deleteComment(no=${comment.no}, pg=${pg}, parent=${comment.parent})}" class="remove" th:data-no="${comment.no}" th:data-parent="${comment.parent}">삭제</a>
                    	</div>
                    </th:block>
                </article>  
                <th:block  th:if="${#lists.isEmpty(comments)}">
                	 <p class="empty">등록된 댓글이 없습니다.</p>
                </th:block>  
                
            </section>

            <!-- 댓글쓰기 -->
            <section class="commentForm">
                <h3>댓글쓰기</h3>
                <form th:action="@{/insertComment}" method="post">
                	<input type="hidden" name="uid" th:value="${#authentication.principal.user.uid}">
                	<input type="hidden" name="pg" th:value="${pg}">
					<input type="hidden" name="parent" th:value="${article.no}">
                    <textarea name="content" placeholder="인터넷은 우리가 함께 만들어가는 소중한 공간입니다. 댓글 작성 시 타인에 대한 배려와 책임을 담아주세요."></textarea>
                    <div>
                        <a href="#" class="btn btnCancel">취소</a>
                        <input type="submit" class="btn btnComplete" value="작성완료"/>
                    </div>
                </form>
            </section>
        </main>

        <footer>
            <p>ⓒCopyright by circle.or.kr</p>
        </footer>    
    </div>
</body>
</html>